/************************* 共通 *****************************/
*{
    /* font-size: 62.5%; */
    max-width: 1250px;
    margin: 0 auto;
    list-style: none;
}

a {
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    opacity: 0.5;
}

/*********************** header **************************/
header {
    display: block;
    margin: 0 100px;
}

.h-inner {
    width: 100%;
    margin-top: 80px;
}

.inner-txt {
    font-size: 14px;
    padding-top: 20px;
}

#h-nav {
    width: 750px;
    list-style: none;
    display: flex;
    text-align: center;
} 

#h-nav li {
    font-size: 18px;
    margin-right: 20px;
    display: inline;
}

#h-nav li a {
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
}

.h-inner img {
    width: 100%;
    height: auto;
    margin: 100px 0;
}

.h-inner-message {
    font-size: 27px;
}

.h-inner .search-btn {
    float: right;
}
/*********************** main **************************/
main {
    width: 100%;
    height: auto;
    margin: 100px 0;
}

main p {
    font-family: Georgia, 游明朝, "Hiragino Mincho ProN", serif;
    opacity: 0.5;
}

.main-inner {
    display: block;
}

.main-inner .item {
    display: flex;
    margin-bottom: 75px;
}

.main-inner .item-date {
    width: 200px;
    padding-right: 20px;
}

.main-inner .item a {
    text-decoration: none;
    color: #333;
}

.main-inner .item-txt {
    width: 700px;
}

.main-inner .item-title {
    margin-bottom: 30px;
}

.main-inner .item-title a {
    opacity: 1;
    font-weight: bold;
}

.main-inner .page-nav {
    text-align: center;
    display: block;
    margin-bottom: 50px;
}

.main-inner .page-nav {
    display: inline-block;
    
}

.main-inner .page-number {
    padding:10px 15px;
    border: solid 1px #ccc;
    color: #333;
    background-color: #eee;

}

.underline {
    margin: 0 100px;
    margin-bottom: 100px;
    width: auto;
    height: 2px;
    background-color: #333333;
    opacity: 0.3;
}

/*********************** footer **************************/
footer {
    width: 100%;
    height: auto;
    margin: 50px 0;
}

.footer-inner {
    margin: 0 40px;
}

.footer-inner .footer-contents {
    display: flex;
}

/* sectionの共通指定 */
.inner-section {
    width: 25%;
    padding-right: 40px;
    margin-bottom: 80px;
}

/* section1 */
.profile-meta {
    margin-left: 30px;
}

.item-top {
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 20px;
}

.item-top img{
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.profile-meta .meta-item .profile-txt {
    opacity: 0.6;
}

/* section2 */
.footer-right .item-title {
    padding-bottom: 30px;
}

.footer-inner .footer-right p {
    padding-right: 20px;
}

.footer-inner .footer-right .item-txt p{
    opacity: 0.6;
}

/* .section3 */
.post .post-title {
    padding-bottom: 30px;
    font-size: 16px;
}

.footer-inner .post .item-title a{
    opacity: 0.8;
}

.footer-inner .post-item {
    margin-bottom: 20px;
}

.footer-inner .item-date {
    margin-top: 8px;
    opacity: 0.5;
}

/* section4 */
.category .category-title {
    margin-bottom: 30px;
}

.footer-inner .category ul {
    list-style: none;
    padding: 0;
}

.footer-inner .category li {
    margin-bottom: 10px;
}


.footer-inner .category a {
    opacity: 0.8;
}


#sbox1{
    max-width:550px;
    height:30px;
    border-radius:1px;
    outline:0;
    margin-bottom:40px;
    margin-top: 80px;
}

.footer-inner .underline {

    margin: 0 0 100px 10px;
    width: auto;
    height: 2px;
    background-color: #333333;
    opacity: 0.3;
}

/* sns-btn */
.site-bottom {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    display: flex;
}

